[Unit]
Description=Apache Tomcat Web Application Container
After=syslog.target network.target

[Service]
Type=forking

EnvironmentFile={{ catalina_base }}/conf/jws5-tomcat.conf
EnvironmentFile=-/etc/sysconfig/jws5-tomcat

ExecStart={{ catalina_home }}/bin/startup.sh
ExecStop=/bin/kill -15 $MAINPID
SuccessExitStatus=143
TimeoutStopSec=30

User=tomcat

UMask=027

[Install]
WantedBy=multi-user.target
